body{
    margin: 0;
    width: 1346px;
}
/* # # # # # # # # # # # # # # # # # # # # # # # */

/* First Blue Nav bar  */
.nav-1{
    background-color: #0098DB;
    margin: 0%;
    width: 100%;
}
.nav-1 ul{
    margin: 10px;
}
/* Div list inside the div ul */
.list{
    display: inline-block;
    /* width: 70%; */
    width: 980px;
}
.nav-1 li{
    margin-top: auto;
    display: inline-block;
    list-style: none;
    border-right: 1px solid white;
    padding-right: 18px;
    /* font-size: 100%; */
}
.nav-1 a{
    color: antiquewhite;
}
.icon{
    display: inline-block;
}

/* # # # # # # # # # # # # # # # # # # # # # # # */

/* This is the heading include Name and msu logo and NAAC logo  */
.head h2{
    display: inline-block;
    vertical-align: text-bottom;
    text-transform: uppercase;
    /* margin: 1.5%; */
    margin:30px
}   
.main-logo{
    margin: 20px;
} 
.msu-logo{
    width: 90px;
    /* margin-left: 5%; */
    margin-left: 70px;
}    
.naac{
    width: 80px;
    float: right;
    margin-right: 50px;
}  
/* # # # # # # # # # # # # # # # # # # # # # # # */
.second-nav{
    background-color: blue;
}
.second-nav ul{
    list-style: none;
    text-align: center;
    margin: 0px;
}
.second-nav li{
    display: inline-block;
    margin: 5px 10px;
    padding: 13px 8px;
    color: wheat;
    font-size: 1.1rem;
}
.second-nav li:hover{
    background-color: whitesmoke;
    color: black;
}
/* # # # # # # # # # # # # # # # # # # # # # # # */

.vertical-nav{
    display: inline-block;
    width: 215px;
    background-color: #0098DB;
}
.vertical-nav ul{
    padding-inline-start: 0px;
    margin: 0px;
}
.vertical-nav li{
    list-style-type: none;
    margin: 7px 18px;
}
.vertical-nav a{
    text-decoration: none;
    color: aliceblue;
    display: block;
    border-bottom: 1px solid #403737;
    line-height: 48px;
}
.vertical-nav a:hover{
    color: black;
}
.list-1{
    float: left;
}
.list-2{
    float: right;
}
.scrolling{
    display: inline-block;
}
.scrolling img{
    width: 916px;
}

/* # # # # # # # # # # # # # # # # # # # # # # # */
.color-button{
    display: flex;
    justify-content: space-around;
    padding-inline-start: 100px;
    padding-inline-end: 100px;
}
.color-button li{
    list-style-type: none;
    border: 1px solid rgb(233, 182, 182);
    border-radius: 5px;
    width: 170px;
    height: 36px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.color-button li:hover{
    background-color: #403737;
}
.color-button a{
    text-decoration: none;
    color: aliceblue;
}
.color-button img{
    width: 20px;
    height: 20px;
    vertical-align: top;
}
.first-btn{
    background-color: rgb(171, 116, 13);
}
.second-btn{
    background-color: rgb(255, 0, 230);
}
.third-btn{
    background-color: rgb(255, 64, 0);
}
.fourth-btn{
    background-color: rgb(2, 180, 168);
}
.fifth-btn{
    background-color: hwb(234deg 15% 41%);
}
.sixth-btn{
    background-color: tomato;
}